.my-list{
    float: left;
    width: 100%;
    height: auto;
    padding: 8px;
    list-style: none;
    text-decoration: none;
}
$header_padding:5px;
.card{
    .card-header{
        $input_width:200px;
        
        padding:$header_padding;
        padding-left:7px;
        font-weight:300;
        height:40px;
        p{
            float:left;
            text-align:left;
        }
        div{
	        button{
	            float:left;
	            padding:5px;
	            margin-top:-4px;
	            margin-right:20px;
	        }
        }
        div{
            div{
                float:right;
                input{
                    float:right;
                    width:$input_width;
                }
                div{
                    width:$input_width;
                    margin-left:-0.5px;
                    ul{
                        list-style:none;
                        padding-left:0px;
                        li{
                            div{
                                border-left:1px solid grey;
                                border-right:1px solid grey;
                                border-bottom:1px solid grey;
                                padding:5px;
                                color:black;
                                font-weight:bold;
                            }
                        }
                        li:last-child{
                            div{
                                border-bottom-left-radius:10px;
                                border-bottom-right-radius:10px;
                            }
                        }
                        .selected-query{
                            color:white;
                            background:#007bff;
                        }
                        
                    }
                }
            }
        }
    }
    .card-block{
        padding:7px;
    }
}
.navbar{
    border-bottom:1px solid lightgray;
    border-radius:10px;
}
.drop-projection{
    background:#CCC;
    border:1px solid #CCC;
}
.list-item{
    float: left;
    transform-origin: 50% 50%;
    border-radius: 10px;
    margin:5px;
}
.list-item-3{
    float:left;
    width:45%;
}
.dragged{
    background:white;
    transform: scale(0.98, 0.98);
    z-index:3;
    opacity:0.97;
}
.referrals{
    width:40%;
    min-width:300px;
    max-width:450px;
}
.summary-card{
    width:95%;
}
input{
    border-radius:3px;
    border:1px solid grey;
}
.react-autosuggest__suggestions-container{
    position: absolute;
    z-index:2;
    background:white;
    overflow:hidden;
    margin-top:24px;
    margin-right:$header_padding;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}